# Ignore compiled files
*.exe
*.dll

# Ignore logs and other temporary files
*.log
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore build directories
bin/
obj/

# Other stuff
Properties/
MultiInstance.vcxproj
MultiInstance.vcxproj.filters
MultiInstance.vcxproj.user
MultiInstanceEnabler.csproj
MultiInstanceEnabler.csproj.user